<header
  id="header"
  class="bg-white shadow-md py-4 px-6 flex items-center justify-between fixed top-0 w-full sm:relative sm:transform-none transition-all duration-300 z-10"
>
  <h1 class="text-xl font-bold text-blue-600 italic">Shorti.fy</h1>
  <!-- Mobile logout button -->
  <div class="md:hidden flex justify-end items-center px-4 py-2">
    <button
      (click)="logout()"
      class="text-red-400 hover:text-red-600 text-sm font-medium transition"
    >
      Logout
    </button>
  </div>
</header>
