<section
[ngClass]="{
    'block' : isLogoutClicked(),
    'hidden' : !isLogoutClicked()
}">

    <section 
    class="fixed h-screen w-screen top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-50 bg-opacity-50 backdrop-blur-lg">
    </section>

    <section
    class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-50 bg-white p-10 rounded-lg shadow-lg flex flex-col justify-between items-center h-[20%]">
        <h4>Are you sure you want to log out?</h4>
    
        <section class="w-full flex justify-evenly">
            <button 
            (click)="clickYes()"
            class="p-2 px-4 w-[40%] text-white text-center bg-red-700 rounded-md cursor-pointer">Yes</button>
            <button 
            (click)="closeLogoutForm()"
            class="p-2 px-4 w-[40%] text-center bg-gray-300 rounded-md cursor-pointer">No</button>
        </section>
    </section>

</section>