<section class="h-[5vh]">

    <nav class="flex items-center justify-between px-4 h-full">
        <h1 class="italic font-extrabold text-3xl text-blue-600">Shorti.fy</h1>
        
        <ul class="flex items-center justify-around w-[35%] h-full">
            <li>
                <a 
                routerLink="/documentation">Docs</a>
            </li>

            <li>
                <a 
                routerLink="/blogs">Blog</a>
            </li>

            <li>
                <a 
                routerLink="/showcase">Showcase</a>
            </li>

            <li>
                <a 
                routerLink="/github">
                    <img src="/">
                </a>
            </li>
        </ul>
    </nav>

</section>