<section class="bg-gray-800 h-full tracking-wider text-white p-7 text-sm">

    <nav class="flex items-center justify-evenly flex-col w-full h-full">
        <h4>© 2025 Shorti.fy - Simplify and shorten your long links effortlessly</h4>

        <ul class="flex items-center justify-center w-[55%] h-full">
            <li class="px-14 border-r-2 border-white">
                <a class="hover:underline cursor-pointer">Terms of Service</a>
            </li>

            <li class="px-14">
                <a class="hover:underline cursor-pointer">Privacy</a>
            </li>

            <li class="px-14 border-l-2 border-white">
                <a class="hover:underline cursor-pointer">Contact</a>
            </li>
        </ul>
    </nav>

</section>