<section class="bg-gray-800 h-full tracking-wider text-white xxs:p-4 xxs:py-10 xl:p-7 xl:text-sm xxs:text-xs">

    <nav class="flex items-center justify-evenly flex-col w-full h-full">
        <h4 class="xxs:text-center 3xl:text-start">© 2025 Shorti.fy - Simplify and shorten your long links effortlessly</h4>

        <ul class="flex xxs:flex-col xl:flex-row items-center xxs:justify-evenly xl:justify-center xxs:w-full 3xl:w-[55%] h-full">
            <li class="3xl:px-14 xl:px-5 xl:border-r-2 border-white">
                <a class="hover:underline cursor-pointer">Terms of Service</a>
            </li>

            <li class="3xl:px-14 xl:px-5">
                <a class="hover:underline cursor-pointer">Privacy</a>
            </li>

            <li class="3xl:px-14 xl:px-5 xl:border-l-2 border-white">
                <a class="hover:underline cursor-pointer">Contact</a>
            </li>
        </ul>
    </nav>

</section>
