<section class="tracking-wide h-full">

    <nav class="flex items-center justify-between px-4 h-full">
        <h1 class="italic font-extrabold xxs:text-xl xl:text-2xl 3xl:text-3xl text-blue-600">Shorti.fy</h1>
        
        <ul class="xxs:hidden xl:flex items-center justify-around xl:w-[45%] 2xl:w-[40%] 3xl:w-[35%] h-full">
            
            <li>
                <a 
                href="https://github.com/JonArbell/shorti.fy" target="_blank">Docs</a>
            </li>

            <li>
                <a 
                routerLink="/report">Reports bugs</a>
            </li>

            <li>
                <a 
                routerLink="/changelogs">Changelogs</a>
            </li>

        </ul>
    </nav>

</section>