<section 
class="flex rounded-lg bg-white shadow-xl 2xl:w-[25vw] 3xl:w-[20vw] xxs:w-[90vw] xs:w-[80vw] sm:w-[65vw] md:w-[55vw] lg:w-[40vw] xl:w-[30vw] xxs:text-xs xl:text-sm"
>
    
    <form class="w-full p-5 flex flex-col items-center gap-4">

        <section class="self-start flex flex-col gap-4">
            <h2 class="font-bold xxs:text-lg xl:text-2xl">Create a new account</h2>
            <small>It's quick and easy.</small>
        </section>

        <section class="w-full flex items-center justify-center gap-2">
            <input class="outline-0 p-2 w-1/2 border-2 border-gray-400 rounded-md" type="text" placeholder="Please enter your first name">
            <input class="outline-0 p-2 w-1/2 border-2 border-gray-400 rounded-md" type="text" placeholder="Please enter your last name">
        </section>
        
        <section class="w-full flex items-center justify-center gap-4 flex-col">
            <input class="outline-0 p-2 w-full border-2 border-gray-400 rounded-md" type="email" placeholder="Enter a valid email">
            <input class="outline-0 p-2 w-full border-2 border-gray-400 rounded-md" type="text" placeholder="Enter a username">
        </section>

        <section class="w-full flex items-center justify-center gap-4 flex-col">
            <input class="outline-0 p-2 w-full border-2 border-gray-400 rounded-md" type="password" placeholder="New password">
            <input class="outline-0 p-2 w-full border-2 border-gray-400 rounded-md" type="password" placeholder="Confirm password">
        </section>

        <button class="text-center p-4 py-3 rounded-lg outline-0 bg-blue-500 font-semibold xxs:text-xs xl:text-sm xl:w-[30%] xxs:w-[40%] text-gray-50">Signup</button>

    </form>

</section>
