<section class="p-7 bg-gray-100 h-full flex flex-col gap-7 relative">

    <h1 class="font-extrabold text-4xl text-gray-800">My URLs</h1>

    <section class="bg-white shadow-lg rounded-xl overflow-hidden">
        <table class="w-full border-collapse">
            <thead>
                <tr class="bg-gradient-to-r from-blue-500 to-blue-700 text-white text-center">
                    <th class="p-4">Shortened URL</th>
                    <th class="p-4">Original URL</th>
                    <th class="p-4">Expiration Date</th>
                    <th class="p-4">Expired</th>
                    <th class="p-4">Max Clicks</th>
                    <th class="p-4">Number of Clicks</th>
                    <th class="p-4 text-center">Actions</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">

                @for(url of urls(); track url){

                    <tr 
                    class="hover:bg-gray-100 transition cursor-pointer">
                        <td 
                        class="p-4 text-blue-600 text-center">
                            <a 
                                target="_blank"
                                [attr.href]="url.shortUrl">{{url.shortUrl}}
                            </a>
                        </td>

                        <td 
                        class="text-center max-w-xs truncate overflow-hidden text-ellipsis whitespace-nowrap">
                            <a
                            class="p-4"
                            [routerLink]="['/my-urls/view-details']" 
                            [queryParams]="{ id: url.id }">
                                {{url.originalUrl}}
                            </a>

                        </td>

                        <td class="text-center">
                            <a
                            class="p-4"
                            [routerLink]="['/my-urls/view-details']" 
                            [queryParams]="{ id: url.id }">
                            {{url.expiryDate}}
                            </a>

                        </td>

                        <td class="text-center">
                            <a
                            class="p-4"
                            [routerLink]="['/my-urls/view-details']" 
                            [queryParams]="{ id: url.id }">
                                {{url.expired ? 'Yes' : 'No'}}
                            </a>
                        </td>

                        <td class="text-center">
                            <a
                            class="p-4"
                            [routerLink]="['/my-urls/view-details']" 
                            [queryParams]="{ id: url.id }">
                                {{url.maxClicked}}
                            </a>
                        </td>

                        <td class="text-center">
                            <a
                            class="p-4"
                            [routerLink]="['/my-urls/view-details']" 
                            [queryParams]="{ id: url.id }">
                                {{url.numberOfClicked}}
                            </a>
                        </td>

                        <td 
                        class="p-4 text-center space-x-2">
                            <button 
                            [attr.id]="url.id"
                            class="bg-blue-600 text-white w-[45%] text-center px-3 py-1 rounded-md hover:bg-blue-700">Edit</button>
                            <button 
                            (click)="deleteUrlById(url.id)"
                            [attr.id]="url.id"
                            class="bg-red-600 text-white w-[45%] text-center px-3 py-1 rounded-md hover:bg-red-700">Delete</button>
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>
    </section>


    <section>
        <router-outlet></router-outlet>
    </section>

</section>

