<section
  class="bg-gray-800 h-full tracking-wider text-white sm:p-4 p-7 xl:text-sm sm:text-xs"
>
  <nav class="flex items-center justify-evenly flex-col w-full h-full">
    <h4 class="sm:text-center 3xl:text-start">
      © 2025 Shorti.fy - Simplify and shorten your long links effortlessly
    </h4>

    <ul
      class="flex flex-row items-center justify-center w-full 3xl:w-[55%] h-full"
    >
      <li class="px-14 sm:px-9 border-r-2 border-white">
        <a class="hover:underline cursor-pointer">Terms of Service</a>
      </li>

      <li class="px-14 sm:px-9">
        <a class="hover:underline cursor-pointer">Privacy</a>
      </li>

      <li class="px-14 sm:px-9 border-l-2 border-white">
        <a class="hover:underline cursor-pointer">Contact</a>
      </li>
    </ul>
  </nav>
</section>
