<section class="container mx-auto p-4 pt-12">

  @if(isLoading()){
    <div class="fixed inset-0 flex h-screen w-screen flex-col items-center justify-center bg-white/50 backdrop-blur-sm z-50">
    <div class="w-12 h-12 border-4 border-blue-600 border-t-transparent rounded-full animate-spin"></div>
    <p class="mt-4 text-gray-700 font-medium text-lg">Loading your urls. Please wait...</p>
  </div>
  }@else{
    
  <!-- Title Section -->
  <h1 class="text-2xl font-semibold text-center text-blue-800 mb-6">My URLs</h1>

  <!-- URL Boxes -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    @for(url of paginatedUrls; track url.id){
      <div class="bg-white p-6 rounded-lg shadow-lg border border-gray-200 transition duration-200 hover:shadow-2xl hover:border-blue-500">
        <!-- Short URL as Title -->
        <h2 class="text-xl font-semibold text-blue-600">{{ url.shortUrl }}</h2>

        <!-- Original URL as Subtitle -->
        <p class="text-gray-600 text-sm">{{ url.originalUrl }}</p>

        <!-- Max Clicks Info -->
        <div class="mt-4 text-sm text-gray-500">
          <p><strong>Max Clicks:</strong> {{ url.maxClicks }}</p>
        </div>

        <!-- Action Buttons -->
        <div class="mt-6 flex justify-between items-center">
          <button (click)="viewFullInfo(url.id)" class="text-blue-500 hover:underline text-sm">View Full Info</button>
          <div>
            <button (click)="updateUrl(url.id)" class="text-yellow-500 hover:underline text-sm mr-4">Update</button>
            <button (click)="deleteUrl(url.id)" class="text-red-500 hover:underline text-sm">Delete</button>
          </div>
        </div>
      </div>
    }

  </div>

    <!-- Pagination -->
  <div class="flex justify-center mt-6">
    <!-- Prev Button -->
    <button (click)="prevPage()"
            [disabled]="page === 1"
            class="px-4 py-2 bg-blue-500 text-white rounded-l-lg disabled:opacity-50 hover:bg-blue-600">
      Prev
    </button>

    <!-- Page Number -->
    <span class="px-4 py-2 text-gray-700">Page {{ page }}</span>

    <!-- Next Button -->
    <button (click)="nextPage()"
            [disabled]="page === totalPages"
            class="px-4 py-2 bg-blue-500 text-white rounded-r-lg disabled:opacity-50 hover:bg-blue-600">
      Next
    </button>
  </div>
  }



</section>
