<section
  [ngClass]="{
    'h-[85vh]': urls.length === 0
  }"
  class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pt-12 pb-8 flex flex-col"
>
  @if(isLoading()){
  <div
    class="fixed inset-0 z-50 flex items-center justify-center bg-white/60 backdrop-blur-sm"
  >
    <div class="flex flex-col items-center">
      <div
        class="w-10 h-10 border-4 border-blue-600 border-t-transparent rounded-full animate-spin"
      ></div>
      <p class="mt-4 text-gray-700 font-medium text-base sm:text-lg">
        Loading your URLs. Please wait...
      </p>
    </div>
  </div>
  } @else {

  <!-- Page Title -->
  <h1 class="text-2xl sm:text-3xl font-bold text-center text-blue-800 mb-8">
    My Shortened URLs
  </h1>

  <div class="flex flex-wrap justify-center gap-6 px-4">
    @if(urls.length === 0){
    <p class="text-center">
      Looks like you haven't added any URLs yet. Let's get started!
    </p>
    } @else{ @for(url of paginatedUrls; track url.id) {
    <div class="w-full max-w-sm">
      <div
        class="card w-full h-[170px] bg-white border border-blue-100 shadow-md hover:shadow-lg transition-all duration-300 flex flex-col justify-between"
      >
        <div class="card-body">
          <!-- Short URL -->
          <h2
            class="card-title text-blue-700 break-all flex items-center justify-center"
          >
            <a
              [href]="`${redirectDomain}/${url.shortUrl}`"
              target="_blank"
              class="underline"
            >
              {{ url.shortUrl }}
            </a>
          </h2>

          <!-- Original URL (truncated) -->
          <p class="text-gray-600 text-sm truncate text-center mt-2">
            {{ url.originalUrl }}
          </p>
        </div>

        <!-- Actions -->
        <div class="card-actions justify-center pb-4">
          <button
            (click)="openUpdateUrlDialog(url.id)"
            class="btn btn-sm bg-green-500 text-white hover:bg-green-700 transition w-1/3"
          >
            Update
          </button>
          <button
            (click)="showDeleteModal(url.id)"
            class="btn btn-sm bg-red-500 text-white hover:bg-red-600 transition w-1/3"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
    } }
  </div>

  <!-- Pagination Controls -->
  <div
    [ngClass]="{ 'mt-auto': urls.length === 0, 'mt-10': urls.length > 0 }"
    class="flex flex-wrap justify-center items-center gap-4"
  >
    <button
      (click)="prevPage()"
      [disabled]="page === 1"
      class="px-4 py-2 bg-blue-500 text-white rounded-lg disabled:opacity-50 hover:bg-blue-600 transition"
    >
      Prev
    </button>

    <span class="text-base font-medium text-gray-700"
      >Page {{ page }} of {{ totalPages }}</span
    >

    <button
      (click)="nextPage()"
      [disabled]="page === totalPages"
      class="px-4 py-2 bg-blue-500 text-white rounded-lg disabled:opacity-50 hover:bg-blue-600 transition"
    >
      Next
    </button>
  </div>

  }
</section>
