<section class="bg-gray-100 flex-col flex xxs:min-h-screen xl:h-screen">

  <section class="border-b-2 shadow-md relative z-30 border-gray-300 h-[5vh] min-h-[43px]">
    <app-header></app-header>
  </section>

  <section 
  [ngClass]="{
    'w-full xxs:h-[95vh] xl:h-[80vh] flex items-center xxs:justify-evenly xl:justify-center xl:min-h-[510px]' : !isLoggedIn()
  }"
  class=""
  >
    @if (isLoggedIn()) {
      
      <div class="h-full">
        <app-authenticated-base-page></app-authenticated-base-page>
      </div>

    }@else{

      <div class="h-full">
        <app-authentication-base-page></app-authentication-base-page>
      </div>

    }
  </section>

  <section class="xl:mt-auto xl:h-[15vh] xl:min-h-[123.59px] xxs:min-h-[244px] xxs:h-[35vh] w-full">
    <app-footer></app-footer>
  </section>

</section>