<section class="bg-gray-100 flex-col flex min-h-screen">

  <section class="border-b-2 shadow-md relative z-50 border-gray-300">
    <app-header></app-header>
  </section>

  <section 
  [ngClass]="{
    'w-full flex items-center justify-center' : !isLoggedIn()
  }">
    @if (isLoggedIn()) {
      
      <app-authenticated-base-page></app-authenticated-base-page>
    }@else{

      <app-authentication-base-page></app-authentication-base-page>
    }
  </section>

  <section class="xl:mt-auto xl:h-[15vh] xl:min-h-[123.59px] xxs:min-h-[244px] xxs:h-[35vh] w-full">
    <app-footer></app-footer>
  </section>

</section>