<section 
class="flex rounded-lg bg-white shadow-xl 2xl:w-[25vw] 3xl:w-[20vw] xxs:w-[90vw] xs:w-[80vw] sm:w-[65vw] md:w-[55vw] lg:w-[40vw] xl:w-[30vw] xxs:text-xs xl:text-sm"
>

    <section class="w-full">
        @if(isAuthorized()){
            <app-create-new-password></app-create-new-password>
        }
        @else if(hasGeneratedCode()){
            <app-send-code></app-send-code>
        }
        @else if (getEmail()) {
            <app-generate-code></app-generate-code>
        }
        @else {
            <app-find-email></app-find-email>
        }
    </section>

    

</section>
