<section>

    <section 
    class="fixed h-screen w-screen top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-50 bg-opacity-50 backdrop-blur-lg">
    </section>

    <section
    class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-50 bg-white p-10 rounded-lg shadow-lg flex flex-col justify-center items-center h-[55%]">
    
        <section class="flex flex-col gap-4 justify-center w-full">
            <p 
            class="hover:text-red-700 right-0 font-semibold cursor-pointer absolute top-0 m-4"
            (click)="exit()">x</p>

            <h1 class="font-bold text-3xl self-start">Full Details</h1>

            <h2>Shortened url : {{url().shortUrl}}</h2>

            <p>Original url : {{url().originalUrl}}</p>

            <p>Number of clicked : {{url().numberOfClicked}}</p>

            <p>Max click : {{'5'}}</p>

            <p>Expiration date : {{'Tomorrow'}}</p>

            <p>Expired : {{url().expired}}</p>

            <section>
                <h3>Visitors :</h3>
                <ul class="px-4">
                    
                    @for(visitor of url().visitors; track visitor){
                        <li>
                            <p>{{visitor.id}}</p>
                            <p>{{visitor.ipAddress}}</p>
                            <p>{{visitor.location}}</p>
                            <p>{{visitor.device}}</p>
                            <p>{{visitor.numberOfVisit}}</p>
                        </li>
                    }
                    
                </ul>
            </section>

        </section>
    </section>

</section>