<form 
[formGroup]="createNewPasswordForm"
(ngSubmit)="submitNewPassword()"
class="w-full p-5 flex flex-col items-center gap-4">

    <h2 class="font-semibold text-lg self-start">Create new password</h2>

    <hr class="w-full border-0 bg-gray-400 h-px">

    <h4 class="self-start">Enter a strong new password with at least 8 characters</h4>

    <input 
    formControlName="password"
    name="password"
    class="outline-0 p-2 w-full border-2 border-gray-400 rounded-md" type="password" placeholder="Enter password">

    <input 
    formControlName="confirmPassword"
    name="confirmPassword"
    class="outline-0 p-2 w-full border-2 border-gray-400 rounded-md" type="password" placeholder="Confirm password">

    <hr class="w-full border-0 bg-gray-400 h-px">

    <section class="flex items-center justify-between w-full gap-4">

        <a 
        (click)="backToLoginWithPassword()"
        routerLink="/"
        class="p-4 py-2 rounded-md outline-0 bg-gray-300 font-semibold xxs:text-xs xl:text-sm xl:w-[40%] xxs:w-[40%] text-gray-700 text-center">Cancel</a>

        <button 
        type="submit"
        [disabled]="createNewPasswordForm.invalid"
        class="p-4 py-2 rounded-md outline-0 bg-blue-500 font-semibold xxs:text-xs xl:text-sm xl:w-[40%] xxs:w-[40%] text-gray-50">Submit</button>
    </section>

</form>