<section 
    
class="w-full p-5 flex flex-col items-center gap-4">

    <h2 class="text-lg font-semibold">We'll send you a code to your email</h2>

    <hr class="w-full border-0 bg-gray-400 h-px">

    <h3 class="text-base">We can send a login code to:</h3>

    <p class="font-semibold">{{getEmail()}}</p>

    <hr class="w-full border-0 bg-gray-400 h-px">

    <section class="flex items-center justify-between w-full gap-4">

        <a 
        (click)="backToLoginWithPassword()"
        routerLink="/"
        class="p-4 py-2 rounded-md outline-0 bg-gray-300 font-semibold xxs:text-xs xl:text-sm xl:w-[45%] xxs:w-[40%] text-gray-700 text-center">back to login</a>

        <button 
        type="button"
        (click)="generateCode()"
        class="p-4 py-2 rounded-md outline-0 bg-blue-500 font-semibold xxs:text-xs xl:text-sm xl:w-[45%] xxs:w-[40%] text-gray-50">Send code</button>
    </section>

</section>