<section class="h-[80vh] tracking-wider overflow-y-scroll">

    <section class="h-[70%] flex items-center justify-center">
        <router-outlet></router-outlet>

    </section>

    <section class="h-[25%] tracking-wide flex items-center justify-evenly flex-col">

        <h3 class="font-semibold text-xl">How to Use Shorti.fy?</h3>

        <ol class="list-inside list-decimal">
            <li>Enter Your URL - Paste the long URL you want to shorten into the input field.</li>
            <li>Generate Short Link - Click the "Shorten" button to create a compact, shareable URL.</li>
            <li>Copy & Share - Click the copy button to copy the short URL and share it anywhere.</li>
            <li>Track Clicks (Optional) - If enabled, you can monitor the number of clicks and geographic insights.</li>
        </ol>

    </section>
    
</section>