<section class="xl:h-[80vh] xl:min-h-[659px] xxs:h-[95vh] xxs:min-h-[670px] flex flex-col xxs:justify-evenly xl:justify-around tracking-wider">

    <section class="xl:h-[70%] xxs:h-[60%] w-full flex items-center justify-center">
        <router-outlet></router-outlet>
    </section>

    <section class="3xl:w-full xxs:h-[35%] xxs:px-4 h-[25%] xxs:text-xs xl:text-sm tracking-wide flex items-center justify-evenly flex-col">

        <h3 class="font-semibold xxs:text-sm 3xl:text-xl">How to Use Shorti.fy?</h3>

        <ol class="list-inside list-decimal flex flex-col gap-3">
            <li><strong class="font-semibold">Sign Up or Log In</strong> - Create an account or log in to access the URL shortener.</li>
            <li><strong class="font-semibold">Enter Your URL</strong> - Paste your long URL into the input field on the home page.</li>
            <li><strong class="font-semibold">Customize (Optional)</strong> - Use advanced settings to set an expiration date or enable click tracking.</li>
            <li><strong class="font-semibold">Generate Short Link</strong> - Click the "Shorten" button to create a compact, shareable URL.</li>
            <li><strong class="font-semibold">Copy & Share</strong> - Copy your short link and share it anywhere.</li>
        </ol>

    </section>
    
</section>