<section class="xl:h-[75vh] xl:min-h-[470px] xxs:h-[95vh] items-center xl:flex-row-reverse xxs:min-h-[720px] xxs:flex-col flex xxs:justify-evenly xl:justify-evenly tracking-wider w-full">

    <section class="xl:h-[70%] xxs:h-[60%] flex items-center justify-center">
        <router-outlet></router-outlet>
    </section>

    <section class="xl:w-[45%] xxs:w-[90%] md:w-[80%] xxs:px-4 xl:px-0 h-[60%] xxs:text-xs xl:text-sm tracking-wide flex items-center justify-evenly flex-col">

        <h3 class="font-semibold xxs:text-sm 3xl:text-xl">How to Use Shorti.fy?</h3>

        <ol class="list-inside list-decimal flex flex-col gap-3">

            <li><strong class="font-semibold">Sign In or Sign Up</strong> - Create an account or log in to access the URL shortener. You can also use Google OAuth2 for a quick sign-in.</li>

            <li><strong class="font-semibold">Enter Your Long URL</strong> - Paste the link you want to shorten.</li>

            <li><strong>Customize Your Link (Optional)</strong>

                <ul class="pl-5 list-inside list-disc">
                    <li>Set a custom short URL.</li>
                    <li>Add an expiration date to automatically deactivate the link.</li>
                    <li>Enable password protection for private access.</li>
                </ul>

            </li>

            <li><strong class="font-semibold">Generate & Copy Your Short Link</strong> - Click "Shorten" to create your unique URL. Copy and share it anywhere!</li>
            
            <li><strong>Track & Manage Your Links</strong>

                <ul class="pl-5 list-inside list-disc">
                    <li>View click analytics (e.g., total clicks, location, and device details).</li>

                    <li>Edit or delete existing short links from your dashboard.</li>

                    <li>Download a QR code for easier sharing (coming soon).</li>
                </ul>
            </li>
        </ol>

    </section>
    
</section>