<aside class="h-full bg-gray-800">
    <nav class="h-full">

        <ul 
        class="tracking-wide h-full text-white pt-4"
        >

            <li 
            class="py-4 mx-10"
            >
                <a 
                routerLinkActive="bg-blue-500 font-bold"
                class="w-full block px-4 py-2 rounded-md hover:font-bold hover:bg-blue-700" 
                routerLink="home"
                >Home</a>
            </li>

            <li 
            class="py-4 mx-10"
            >
                <a 
                routerLinkActive="bg-blue-500 font-bold"
                class="w-full block px-4 py-2 rounded-md hover:font-bold hover:bg-blue-700" 
                routerLink="dashboard"
                >Dashboard</a>
            </li>

            <li 
            class="py-4 mx-10"
            >
                <a 
                routerLinkActive="bg-blue-500 font-bold"
                class="w-full block px-4 py-2 rounded-md hover:font-bold hover:bg-blue-700" 
                routerLink="my-urls">My URLs</a>
            </li>

            <li 
            class="py-4 mx-10"
            >
                <a 
                routerLinkActive="bg-blue-500 font-bold"
                class="w-full block px-4 py-2 rounded-md hover:font-bold hover:bg-blue-700" 
                routerLink="qr-codes"
                >QR Codes</a>
            </li>
        </ul>
    </nav>
</aside>
